/LaptopShop_SWP391_G5/nbproject/private/
/LaptopShop_G3/nbproject/private/
/LaptopShop_G3/build/
/LaptopShop_G3_MainProject/nbproject/private/
/LaptopShop_G3_MainProject/build/
/LaptopShop_G3_MainProject/dist/
/Lab 4/nbproject/private/
/WebApplication1/nbproject/private/
/Lab 4/build/
