<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduct</servlet-name>
        <servlet-class>controller.DetailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>controller.category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>controller.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>controller.marketing.BlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearch</servlet-name>
        <servlet-class>controller.marketing.BlogSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogType</servlet-name>
        <servlet-class>controller.marketing.ListBlogType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavBar</servlet-name>
        <servlet-class>controller.NavBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>controller.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>controller.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBrand</servlet-name>
        <servlet-class>controller.Admin.ManagerBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrand</servlet-name>
        <servlet-class>controller.Admin.AddBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrand</servlet-name>
        <servlet-class>controller.Admin.DeleteBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>controller.Admin.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controller.Admin.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccount</servlet-name>
        <servlet-class>controller.Admin.ManagerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>controller.Admin.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAdmin</servlet-name>
        <servlet-class>controller.Admin.ProfileAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNews</servlet-name>
        <servlet-class>controller.marketing.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListManage</servlet-name>
        <servlet-class>controller.marketing.BlogListManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusBlogDashBoard</servlet-name>
        <servlet-class>controller.marketing.ChangeStatusBlogDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBlogDashBoard</servlet-name>
        <servlet-class>controller.marketing.DetailBlogDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBlogDashboard</servlet-name>
        <servlet-class>controller.marketing.FilterBlogDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInBlogDashboard</servlet-name>
        <servlet-class>controller.marketing.SearchInBlogDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogDetail</servlet-name>
        <servlet-class>controller.marketing.UpdateBlogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategory</servlet-name>
        <servlet-class>controller.marketing.ManagerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProduct</servlet-name>
        <servlet-class>controller.marketing.ManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.marketing.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductIMG</servlet-name>
        <servlet-class>controller.marketing.ManagerProductIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.marketing.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.marketing.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.marketing.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogType</servlet-name>
        <servlet-class>controller.marketing.AddBlogType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewDashBoard</servlet-name>
        <servlet-class>controller.marketing.AddNewDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>controller.Admin.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboard</servlet-name>
        <servlet-class>controller.marketing.CustomerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.marketing.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogDashBoard</servlet-name>
        <servlet-class>controller.marketing.DeleteBlogDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogType</servlet-name>
        <servlet-class>controller.marketing.DeleteBlogType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCustomerDashBoard</servlet-name>
        <servlet-class>controller.marketing.DetailCustomerDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogType</servlet-name>
        <servlet-class>controller.marketing.EditBlogType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboard</servlet-name>
        <servlet-class>controller.marketing.SaleDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerDashboard</servlet-name>
        <servlet-class>controller.marketing.SearchCustomerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortCustomerDashboard</servlet-name>
        <servlet-class>controller.marketing.SortCustomerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogType</servlet-name>
        <servlet-class>controller.marketing.UpdateBlogType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerDetail</servlet-name>
        <servlet-class>controller.marketing.UpdateCustomerDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewBlogTypeDashboard</servlet-name>
        <servlet-class>controller.marketing.AddNewBlogTypeDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderController</servlet-name>
        <servlet-class>controller.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderDetailController</servlet-name>
        <servlet-class>controller.MyOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>controller.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListDetailController</servlet-name>
        <servlet-class>controller.OrderListDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturnController</servlet-name>
        <servlet-class>controller.Payment.VNPayReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportGoodsController</servlet-name>
        <servlet-class>controller.ImportGoodsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindashboardfeature</servlet-name>
        <servlet-class>controller.Admin.admindashboardfeature</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduct</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/detailblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogType</servlet-name>
        <url-pattern>/lstblogtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavBar</servlet-name>
        <url-pattern>/navigator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBrand</servlet-name>
        <url-pattern>/manaBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrand</servlet-name>
        <url-pattern>/addBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrand</servlet-name>
        <url-pattern>/deleteBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/updateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccount</servlet-name>
        <url-pattern>/manaAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAdmin</servlet-name>
        <url-pattern>/profileAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNews</servlet-name>
        <url-pattern>/addnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListManage</servlet-name>
        <url-pattern>/blistmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusBlogDashBoard</servlet-name>
        <url-pattern>/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBlogDashBoard</servlet-name>
        <url-pattern>/detailblogdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBlogDashboard</servlet-name>
        <url-pattern>/filterinblogdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInBlogDashboard</servlet-name>
        <url-pattern>/searchinblogdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogDetail</servlet-name>
        <url-pattern>/updateblogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategory</servlet-name>
        <url-pattern>/manaCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProduct</servlet-name>
        <url-pattern>/manaProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductIMG</servlet-name>
        <url-pattern>/manaProductIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogType</servlet-name>
        <url-pattern>/addblogtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDashBoard</servlet-name>
        <url-pattern>/addnewdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/admindashboardservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboard</servlet-name>
        <url-pattern>/customerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboardservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogDashBoard</servlet-name>
        <url-pattern>/deleteBlogDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogType</servlet-name>
        <url-pattern>/deleteblogtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCustomerDashBoard</servlet-name>
        <url-pattern>/detailcustomerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogType</servlet-name>
        <url-pattern>/editblogtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboard</servlet-name>
        <url-pattern>/saledashboardservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerDashboard</servlet-name>
        <url-pattern>/searchcustomerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortCustomerDashboard</servlet-name>
        <url-pattern>/sortcustomerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogType</servlet-name>
        <url-pattern>/updateblogtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerDetail</servlet-name>
        <url-pattern>/updatecustomerdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewBlogTypeDashboard</servlet-name>
        <url-pattern>/addnewblogtypeindashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderController</servlet-name>
        <url-pattern>/myOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderDetailController</servlet-name>
        <url-pattern>/myOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/orderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListDetailController</servlet-name>
        <url-pattern>/orderListDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturnController</servlet-name>
        <url-pattern>/VNPayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportGoodsController</servlet-name>
        <url-pattern>/importGoods</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindashboardfeature</servlet-name>
        <url-pattern>/admindashboardfeature</url-pattern>
    </servlet-mapping>
</web-app>
